/node_modules
/public/hot
/public/storage
/asset/
/css/
/js/
/svg/
/storage/*.key
/vendor
/.idea
/.vscode
/.runtime
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.phpunit.cache/

# Local backups and unrelated legacy copies
/LBD/
/Investor/
/LBD.zip
/LBD_BACKUP.zip
/wp-config.php
